USE [master];
GO
IF DB_ID(N'QuanLyHopDongQuanTrac') IS NOT NULL
BEGIN
    ALTER DATABASE [QuanLyHopDongQuanTrac] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [QuanLyHopDongQuanTrac];
END
IF DB_ID(N'QuanLyHopDongQuangTrac') IS NOT NULL
BEGIN
    ALTER DATABASE [QuanLyHopDongQuangTrac] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [QuanLyHopDongQuangTrac];
END
GO
CREATE DATABASE [QuanLyHopDongQuanTrac];
GO

USE [QuanLyHopDongQuanTrac]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_EmailHopLe]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra email hợp lệ 
CREATE FUNCTION [dbo].[fn_EmailHopLe](@Email NVARCHAR(100))
RETURNS BIT
AS
BEGIN
    IF @Email NOT LIKE '%_@_%._%' 
       OR @Email LIKE '%..%' 
       OR @Email LIKE '%.@%' 
       OR RIGHT(@Email, 4) NOT IN ('.com', '.net', '.org', '.edu', '.gov', '.vn')
        RETURN 0;
    RETURN 1;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SoDienThoaiHopLe]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kiểm tra số điện thoại 
CREATE FUNCTION [dbo].[fn_SoDienThoaiHopLe](@sdt VARCHAR(20))
RETURNS BIT
AS
BEGIN
    IF @sdt LIKE '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
        RETURN 1;
    RETURN 0;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TuoiHopLe]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TuoiHopLe](@ngaySinh DATE)
RETURNS BIT
AS
BEGIN
    DECLARE @tuoi INT = DATEDIFF(YEAR, @ngaySinh, GETDATE());
    IF (DATEADD(YEAR, @tuoi, @ngaySinh) > GETDATE())
        SET @tuoi = @tuoi - 1;

    IF @tuoi BETWEEN 16 AND 65 RETURN 1;
    RETURN 0;
END;
GO
/****** Object:  Table [dbo].[BaoCaoKetQua]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoKetQua](
	[maBC] [varchar](15) NOT NULL,
	[maDH] [varchar](15) NOT NULL,
	[nguoiXuat] [varchar](15) NOT NULL,
	[ngayXuat] [date] NOT NULL,
	[fileBaoCao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BaoCaoKetQua] PRIMARY KEY CLUSTERED 
(
	[maBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[maDH] [varchar](15) NOT NULL,
	[maNen] [varchar](15) NOT NULL,
 CONSTRAINT [pk_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[maDH] ASC,
	[maNen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietQuanTrac]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietQuanTrac](
	[maNen] [varchar](15) NOT NULL,
	[maTS] [varchar](15) NOT NULL,
	[maPhong] [varchar](15) NOT NULL,
 CONSTRAINT [pk_ChiTietQuanTrac] PRIMARY KEY CLUSTERED 
(
	[maNen] ASC,
	[maTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[maDH] [varchar](15) NOT NULL,
	[maHD] [varchar](15) NOT NULL,
	[noiDung] [text] NULL,
	[dotQuanTrac] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[maDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[maHD] [varchar](15) NOT NULL,
	[maKH] [varchar](15) NOT NULL,
	[ngayKy] [date] NOT NULL,
	[ngayDuKien] [date] NOT NULL,
	[ngayThucTe] [date] NULL,
	[trangThai] [bit] NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[maKQ] [varchar](15) NOT NULL,
	[maNen] [varchar](15) NOT NULL,
	[maTS] [varchar](15) NOT NULL,
	[nhanVienNhap] [varchar](15) NOT NULL,
	[maBC] [varchar](15) NOT NULL,
	[ngayDo] [date] NOT NULL,
	[giaTriDoDuoc] [int] NOT NULL,
	[ghiChu] [text] NULL,
 CONSTRAINT [PK_KetQua] PRIMARY KEY CLUSTERED 
(
	[maKQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [varchar](15) NOT NULL,
	[tenDoanhNghiep] [nvarchar](100) NOT NULL,
	[kyHieuDN] [nvarchar](20) NULL,
	[diaChi] [nvarchar](150) NOT NULL,
	[nguoiDaiDien] [nvarchar](50) NOT NULL,
	[soDienThoaiKH] [varchar](10) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NenMau]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NenMau](
	[maNen] [varchar](15) NOT NULL,
	[maDH] [varchar](15) NOT NULL,
	[moTa] [text] NOT NULL,
 CONSTRAINT [PK_NenMau] PRIMARY KEY CLUSTERED 
(
	[maNen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [varchar](15) NOT NULL,
	[maPhong] [varchar](15) NOT NULL,
	[hoTen] [nvarchar](60) NOT NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [bit] NULL,
	[diaChi] [nvarchar](150) NULL,
	[soDienThoai] [varchar](10) NOT NULL,
	[email] [varchar](50) NULL,
	[ngayTao] [date] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPVerification]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPVerification](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContactInfo] [nvarchar](100) NOT NULL,
	[OTPCode] [nvarchar](6) NOT NULL,
	[ExpiryTime] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
	[FailedAttempts] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_OTPVerification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[maPhong] [varchar](15) NOT NULL,
	[tenPhong] [nvarchar](30) NOT NULL,
	[truongPhong] [varchar](15) NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenTK] [varchar](50) NOT NULL,
	[matKhau] [varchar](100) NOT NULL,
	[vaiTro] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[tenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongSoMoiTruong]    Script Date: 10/17/2025 9:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongSoMoiTruong](
	[maTS] [varchar](15) NOT NULL,
	[tenTS] [nvarchar](30) NOT NULL,
	[donVi] [nvarchar](15) NOT NULL,
	[giaTriToiDa] [int] NULL,
[giaTriToiThieu] [int] NULL,
 CONSTRAINT [PK_ThongSoMoiTruong] PRIMARY KEY CLUSTERED 
(
	[maTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([maKH], [tenDoanhNghiep], [kyHieuDN], [diaChi], [nguoiDaiDien], [soDienThoaiKH]) VALUES (N'KH001', N'Công ty ABC', N'ABC', N'Hà Nội', N'Nguyễn Văn A', N'0987654321')
INSERT [dbo].[KhachHang] ([maKH], [tenDoanhNghiep], [kyHieuDN], [diaChi], [nguoiDaiDien], [soDienThoaiKH]) VALUES (N'KH002', N'Công ty heo', N'CTB', N'Xã Định Hưng, Huyện Yên Định, Thanh Hóa', N'Trần Quang Thái', N'0910737726')
INSERT [dbo].[KhachHang] ([maKH], [tenDoanhNghiep], [kyHieuDN], [diaChi], [nguoiDaiDien], [soDienThoaiKH]) VALUES (N'KH003', N'Công ty bò con', NULL, N'Xã Mường Bang, Huyện Phù Yên, Sơn La', N'Nguyễn Hoàng Sơn', N'0022332200')
GO
INSERT [dbo].[NhanVien] ([maNV], [maPhong], [hoTen], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [ngayTao]) VALUES (N'NV001', N'P004', N'Trần Quang Thái', CAST(N'2005-09-17' AS Date), 1, N'62 Ấp Bắc Chan 1, Xã Tuyên Thạnh, Thị xã Kiến Tường, Long An', N'0854707222', N'thaideptrai@gmail.com', CAST(N'2025-10-12' AS Date))
INSERT [dbo].[NhanVien] ([maNV], [maPhong], [hoTen], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [ngayTao]) VALUES (N'NV002', N'P004', N'Tôn Quốc Thái', CAST(N'2005-07-14' AS Date), 0, N'Xã Trung Hóa, Huyện Minh Hóa, Quảng Bình', N'0123456789', N'thaiton@gmail.com', CAST(N'2025-10-12' AS Date))
INSERT [dbo].[NhanVien] ([maNV], [maPhong], [hoTen], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [ngayTao]) VALUES (N'NV003', N'P002', N'Nguyễn Hoàng Sơn', CAST(N'1988-12-26' AS Date), 1, N'Xã An Đồng, Huyện An Dương, Hải Phòng', N'5555500000', N'hoangson@gmail.com', CAST(N'2025-10-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[OTPVerification] ON 

INSERT [dbo].[OTPVerification] ([ID], [ContactInfo], [OTPCode], [ExpiryTime], [IsUsed], [FailedAttempts], [CreatedAt]) VALUES (2, N'0123456789', N'765618', CAST(N'2025-10-16T14:19:29.237' AS DateTime), 1, 0, CAST(N'2025-10-16T14:14:29.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[OTPVerification] OFF
GO
INSERT [dbo].[PhongBan] ([maPhong], [tenPhong], [truongPhong]) VALUES (N'P001', N'Phòng kinh doanh ', NULL)
INSERT [dbo].[PhongBan] ([maPhong], [tenPhong], [truongPhong]) VALUES (N'P002', N'Phòng kế hoạch ', NULL)
INSERT [dbo].[PhongBan] ([maPhong], [tenPhong], [truongPhong]) VALUES (N'P003', N'Phòng hiện trường ', NULL)
GO
INSERT [dbo].[TaiKhoan] ([tenTK], [matKhau], [vaiTro]) VALUES (N'hoangson@gmail.com', N'$2a$10$cIpQyUtNMCZDqBVqgq5cb.JD7E5ysCTIetHeq37yWpM5L5oMJ2tri', 0)
INSERT [dbo].[TaiKhoan] ([tenTK], [matKhau], [vaiTro]) VALUES (N'ptt@gmail.com', N'$2a$10$cIpQyUtNMCZDqBVqgq5cb.JD7E5ysCTIetHeq37yWpM5L5oMJ2tri', 0)
INSERT [dbo].[TaiKhoan] ([tenTK], [matKhau], [vaiTro]) VALUES (N'thaideptrai@gmail.com', N'$2a$10$cIpQyUtNMCZDqBVqgq5cb.JD7E5ysCTIetHeq37yWpM5L5oMJ2tri', 0)
 ---mk 23092025
INSERT INTO TaiKhoan (tenTK, matKhau, vaiTro)
VALUES (N'superadmin@gmail.local', N'$2a$10$cIpQyUtNMCZDqBVqgq5cb.JD7E5ysCTIetHeq37yWpM5L5oMJ2tri', 2) --mk 23092025


GO
ALTER TABLE [dbo].[OTPVerification] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[OTPVerification] ADD  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[OTPVerification] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BaoCaoKetQua]  WITH CHECK ADD  CONSTRAINT [fk_BaoCaoKetQua_DonHang] FOREIGN KEY([maDH])
REFERENCES [dbo].[DonHang] ([maDH])
GO
ALTER TABLE [dbo].[BaoCaoKetQua] CHECK CONSTRAINT [fk_BaoCaoKetQua_DonHang]
GO
ALTER TABLE [dbo].[BaoCaoKetQua]  WITH CHECK ADD  CONSTRAINT [fk_BaoCaoKetQua_NhanVien] FOREIGN KEY([nguoiXuat])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[BaoCaoKetQua] CHECK CONSTRAINT [fk_BaoCaoKetQua_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietDonHang_DonHang] FOREIGN KEY([maDH])
REFERENCES [dbo].[DonHang] ([maDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [fk_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietDonHang_NenMau] FOREIGN KEY([maNen])
REFERENCES [dbo].[NenMau] ([maNen])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [fk_ChiTietDonHang_NenMau]
GO
ALTER TABLE [dbo].[ChiTietQuanTrac]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietQuanTrac_NenMau] FOREIGN KEY([maNen])
REFERENCES [dbo].[NenMau] ([maNen])
GO
ALTER TABLE [dbo].[ChiTietQuanTrac] CHECK CONSTRAINT [fk_ChiTietQuanTrac_NenMau]
GO
ALTER TABLE [dbo].[ChiTietQuanTrac]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietQuanTrac_ThongSoMoiTruong] FOREIGN KEY([maTS])
REFERENCES [dbo].[ThongSoMoiTruong] ([maTS])
GO
ALTER TABLE [dbo].[ChiTietQuanTrac] CHECK CONSTRAINT [fk_ChiTietQuanTrac_ThongSoMoiTruong]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [fk_DonHang_HopDong] FOREIGN KEY([maHD])
REFERENCES [dbo].[HopDong] ([maHD])
GO
--UC13
ALTER TABLE [dbo].[ChiTietQuanTrac]  
WITH CHECK ADD  CONSTRAINT [fk_ChiTietQuanTrac_PhongBan] 
FOREIGN KEY([maPhong]) REFERENCES [dbo].[PhongBan] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietQuanTrac] CHECK CONSTRAINT [fk_ChiTietQuanTrac_PhongBan]
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [fk_DonHang_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [fk_HopDong_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [fk_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [fk_KetQua_BaoCaoKetQua] FOREIGN KEY([maBC])
REFERENCES [dbo].[BaoCaoKetQua] ([maBC])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [fk_KetQua_BaoCaoKetQua]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [fk_KetQua_NenMau] FOREIGN KEY([maNen])
REFERENCES [dbo].[NenMau] ([maNen])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [fk_KetQua_NenMau]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [fk_KetQua_NhanVien] FOREIGN KEY([nhanVienNhap])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [fk_KetQua_NhanVien]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [fk_KetQua_ThongSoMoiTruong] FOREIGN KEY([maTS])
REFERENCES [dbo].[ThongSoMoiTruong] ([maTS])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [fk_KetQua_ThongSoMoiTruong]
GO
ALTER TABLE [dbo].[NenMau]  WITH CHECK ADD  CONSTRAINT [fk_NenMau_DonHang] FOREIGN KEY([maDH])
REFERENCES [dbo].[DonHang] ([maDH])
GO
ALTER TABLE [dbo].[NenMau] CHECK CONSTRAINT [fk_NenMau_DonHang]
GO
--uc13
ALTER TABLE [dbo].[ThongSoMoiTruong]
ADD CONSTRAINT [FK_ThongSoMoiTruong_DonViTinh]
FOREIGN KEY ([maDonVi]) REFERENCES [dbo].[DonViTinh]([maDonVi])
ON UPDATE CASCADE
ON DELETE NO ACTION;
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [fk_NhanVien_PhongBan] FOREIGN KEY([maPhong])
REFERENCES [dbo].[PhongBan] ([maPhong])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [fk_NhanVien_PhongBan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [fk_NhanVien_TaiKhoan] FOREIGN KEY([email])
REFERENCES [dbo].[TaiKhoan] ([tenTK])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [fk_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PhongBan]  WITH CHECK ADD  CONSTRAINT [fk_PhongBan_NhanVien] FOREIGN KEY([truongPhong])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhongBan] CHECK CONSTRAINT [fk_PhongBan_NhanVien]
GO
/****** Object:  StoredProcedure [dbo].[layDanhSachNhanVien]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[layDanhSachNhanVien]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        nv.maNV,
		 --nv.tenTK,
		 nv.maPhong,
        nv.hoTen,
        nv.ngaySinh,
        CASE nv.gioiTinh WHEN 0 THEN N'Nam' ELSE N'Nữ' END AS gioiTinh,
        nv.diaChi,
        nv.soDienThoai,
		nv.email,
        pb.tenPhong
    FROM NhanVien nv
    LEFT JOIN PhongBan pb ON nv.maPhong = pb.maPhong;
END
GO
/****** Object:  StoredProcedure [dbo].[LayDSKH]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[LayDSKH]
as
begin
	select *
	from KhachHang
end
GO
/****** Object:  StoredProcedure [dbo].[LayDSPhongBan]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LayDSPhongBan]
as 
begin
	set nocount on;
	select maPhong, tenPhong
	from PhongBan;
end
GO
/****** Object:  StoredProcedure [dbo].[LayPhongBanTheoMa]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayPhongBanTheoMa]
    @maPhong NVARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        maPhong, 
        tenPhong, 
        truongPhong
    FROM 
        PhongBan
    WHERE 
        maPhong = @maPhong;
END;
GO
/****** Object:  StoredProcedure [dbo].[LayPhongBanTheoTaiKhoan]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayPhongBanTheoTaiKhoan]
    @tenTK VARCHAR(50)
AS
BEGIN
    SELECT maPhong 
    FROM NhanVien 
    WHERE email = @tenTK;
END;
GO
/****** Object:  StoredProcedure [dbo].[layTaikhoan]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDURES--
--proc lấy tài khoản--
CREATE PROCEDURE [dbo].[layTaikhoan] 
    @tenTK NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT tenTK, matKhau, vaiTro
    FROM TaiKhoan
    WHERE tenTK = @tenTK;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatEmailNhanVien]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatEmailNhanVien]
    @maNV VARCHAR(15),
    @oldEmail VARCHAR(50),
    @newEmail VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF ISNULL(@oldEmail, '') = ISNULL(@newEmail, '')
            RETURN;

        IF EXISTS (SELECT 1 FROM TaiKhoan WHERE tenTK = @newEmail AND tenTK <> @oldEmail)
        BEGIN
            RAISERROR(N'Tên đăng nhập (email) mới đã tồn tại trong hệ thống!', 16, 1);
            RETURN;
        END;

        IF EXISTS (SELECT 1 FROM TaiKhoan WHERE tenTK = @oldEmail)
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE tenTK = @newEmail)
            BEGIN
                INSERT INTO TaiKhoan (tenTK, matKhau, vaiTro)
                SELECT @newEmail, matKhau, vaiTro
                FROM TaiKhoan
                WHERE tenTK = @oldEmail;
            END

            UPDATE NhanVien
            SET email = @newEmail
            WHERE maNV = @maNV;

            IF NOT EXISTS (SELECT 1 FROM NhanVien WHERE email = @oldEmail)
                DELETE FROM TaiKhoan WHERE tenTK = @oldEmail;
        END
        ELSE
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE tenTK = @newEmail)
            BEGIN
                INSERT INTO TaiKhoan (tenTK, matKhau, vaiTro)
                VALUES (@newEmail, '123456', 0);
            END

            UPDATE NhanVien
            SET email = @newEmail
            WHERE maNV = @maNV;
        END
    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatMatKhau]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Cập nhật mật khẩu theo ContactInfo (email hoặc số điện thoại)  14/10/2025 PTT
CREATE   PROCEDURE [dbo].[sp_CapNhatMatKhau]
    @ContactInfo NVARCHAR(100),
    @MatKhauMoi  VARCHAR(100),
    @Success     BIT           OUTPUT,
    @Message     NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @TenTK VARCHAR(50);

        -- Ánh xạ contact -> tài khoản đăng nhập (email được dùng làm tenTK)
        SELECT TOP 1 @TenTK = email
        FROM dbo.NhanVien
        WHERE email = @ContactInfo OR soDienThoai = @ContactInfo;

        IF @TenTK IS NULL
        BEGIN
            SET @Success = 0; SET @Message = N'Không tìm thấy người dùng phù hợp ContactInfo.';
            RETURN;
        END;

        IF NOT EXISTS (SELECT 1 FROM dbo.TaiKhoan WHERE tenTK = @TenTK)
        BEGIN
            SET @Success = 0; SET @Message = N'Tài khoản không tồn tại.';
            RETURN;
        END;

        UPDATE dbo.TaiKhoan
        SET matKhau = @MatKhauMoi
        WHERE tenTK = @TenTK;

        SET @Success = 1; SET @Message = N'Đổi mật khẩu thành công.';
    END TRY
    BEGIN CATCH
        SET @Success = 0; SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DonDepOTPCu]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE: Dọn dẹp OTP cũ (tùy chọn)
CREATE PROCEDURE [dbo].[sp_DonDepOTPCu]
AS
BEGIN
    DELETE FROM OTPVerification 
    WHERE CreatedAt < DATEADD(HOUR, -24, GETDATE());
    
    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraContactTonTai]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE: Kiểm tra email/SĐT tồn tại
CREATE PROCEDURE [dbo].[sp_KiemTraContactTonTai]
    @ContactInfo NVARCHAR(100),
    @TonTai BIT OUTPUT,
    @TenTK NVARCHAR(30) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT @TenTK = nv.email
    FROM NhanVien nv
    WHERE nv.email = @ContactInfo OR nv.soDienThoai = @ContactInfo;
    
    IF @TenTK IS NOT NULL
        SET @TonTai = 1
    ELSE
        SET @TonTai = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LuuOTP]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE: Lưu OTP
CREATE PROCEDURE [dbo].[sp_LuuOTP]
    @ContactInfo NVARCHAR(100),
    @OTPCode NVARCHAR(6),
    @ExpiryMinutes INT = 5
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ExpiryTime DATETIME = DATEADD(MINUTE, @ExpiryMinutes, GETDATE());
    
    DELETE FROM OTPVerification 
    WHERE ContactInfo = @ContactInfo AND IsUsed = 0;
    
    INSERT INTO OTPVerification (ContactInfo, OTPCode, ExpiryTime, IsUsed, FailedAttempts)
    VALUES (@ContactInfo, @OTPCode, @ExpiryTime, 0, 0);
    
    SELECT 'Success' AS Result, @ExpiryTime AS ExpiryTime;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaNhanVien]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SuaNhanVien]
    @maNV VARCHAR(15),
    @maPhong VARCHAR(15),
    @hoTen NVARCHAR(60),
    @ngaySinh DATE,
    @gioiTinh BIT,
    @diaChi NVARCHAR(150),
    @soDienThoai VARCHAR(10),
    @Email VARCHAR(50),
    @isTruongPhong BIT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (SELECT 1 FROM NhanVien WHERE maNV = @maNV)
        BEGIN
            RAISERROR(N'Không tìm thấy nhân viên cần sửa!', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

        DECLARE @oldEmail VARCHAR(50);
        SELECT @oldEmail = email FROM NhanVien WHERE maNV = @maNV;

        IF dbo.fn_TuoiHopLe(@ngaySinh) = 0
        BEGIN
            RAISERROR(N'Tuổi không hợp lệ! Nhân viên phải từ 16 đến 65 tuổi.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

        IF dbo.fn_SoDienThoaiHopLe(@soDienThoai) = 0
        BEGIN
            RAISERROR(N'Số điện thoại không hợp lệ! Phải gồm đúng 10 chữ số.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

        IF dbo.fn_EmailHopLe(@Email) = 0
        BEGIN
            RAISERROR(N'Email không hợp lệ! Vui lòng nhập đúng định dạng (vd: abc@gmail.com).', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

        IF EXISTS (SELECT 1 FROM NhanVien WHERE email = @Email AND maNV <> @maNV)
        BEGIN
            RAISERROR(N'Email này đã tồn tại cho nhân viên khác!', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

       EXEC sp_CapNhatEmailNhanVien @maNV, @oldEmail, @Email;

        IF @isTruongPhong = 1
        BEGIN
            IF EXISTS (SELECT 1 FROM PhongBan WHERE maPhong = @maPhong AND truongPhong IS NOT NULL AND truongPhong <> @maNV)
            BEGIN
                RAISERROR(N'Phòng ban này đã có trưởng phòng khác!', 16, 1);
                ROLLBACK TRAN;
                RETURN;
            END;
        END
        ELSE
        BEGIN
            UPDATE PhongBan
            SET truongPhong = NULL
            WHERE truongPhong = @maNV;
        END;

        UPDATE NhanVien
        SET maPhong     = @maPhong,
            hoTen       = @hoTen,
            ngaySinh    = @ngaySinh,
            gioiTinh    = @gioiTinh,
            diaChi      = @diaChi,
            soDienThoai = @soDienThoai,
            email       = @Email
        WHERE maNV = @maNV;

        IF @isTruongPhong = 1
        BEGIN
            UPDATE PhongBan
            SET truongPhong = @maNV
            WHERE maPhong = @maPhong;
        END;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XacThucOTP]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- STORED PROCEDURE: Xác thực OTP
CREATE PROCEDURE [dbo].[sp_XacThucOTP]
    @ContactInfo NVARCHAR(100),
    @OTPCode NVARCHAR(6),
    @IsValid BIT OUTPUT,
    @Message NVARCHAR(200) OUTPUT,
    @FailedAttempts INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ID INT;
    DECLARE @Status NVARCHAR(20);
    
    SELECT TOP 1
        @ID = ID,
        @FailedAttempts = FailedAttempts,
        @Status = CASE 
            WHEN ExpiryTime < GETDATE() THEN 'EXPIRED'
            WHEN IsUsed = 1 THEN 'USED'
            WHEN FailedAttempts >= 5 THEN 'LOCKED'
            WHEN OTPCode = @OTPCode THEN 'VALID'
            ELSE 'INVALID'
        END
    FROM OTPVerification 
    WHERE ContactInfo = @ContactInfo
    ORDER BY CreatedAt DESC;
    
    IF @Status = 'VALID'
    BEGIN
        UPDATE OTPVerification SET IsUsed = 1 WHERE ID = @ID;
        SET @IsValid = 1;
        SET @Message = N'Xác thực thành công';
    END
    ELSE IF @Status = 'INVALID'
    BEGIN
        UPDATE OTPVerification SET FailedAttempts = FailedAttempts + 1 WHERE ID = @ID;
        SET @IsValid = 0;
        SET @FailedAttempts = @FailedAttempts + 1;
        SET @Message = N'Mã OTP không đúng';
    END
    ELSE IF @Status = 'EXPIRED'
    BEGIN
        SET @IsValid = 0;
        SET @Message = N'Mã OTP đã hết hạn';
    END
    ELSE IF @Status = 'USED'
    BEGIN
        SET @IsValid = 0;
        SET @Message = N'Mã OTP đã được sử dụng';
    END
    ELSE IF @Status = 'LOCKED'
    BEGIN
        SET @IsValid = 0;
        SET @Message = N'Bạn đã nhập sai quá 5 lần';
    END
    ELSE
    BEGIN
        SET @IsValid = 0;
        SET @Message = N'Không tìm thấy OTP';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNhanVien]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--13/10/2025 proc xóa nhân viên :
CREATE PROCEDURE [dbo].[sp_XoaNhanVien]
    @maNV VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (SELECT 1 FROM NhanVien WHERE maNV = @maNV)
        BEGIN
            RAISERROR(N'Không tìm thấy nhân viên cần xóa!', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

        DECLARE @emailNV VARCHAR(50);
        SELECT @emailNV = email FROM NhanVien WHERE maNV = @maNV;

        UPDATE PhongBan
        SET truongPhong = NULL
        WHERE truongPhong = @maNV;

        DELETE FROM NhanVien
        WHERE maNV = @maNV;

        IF EXISTS (SELECT 1 FROM TaiKhoan WHERE tenTK = @emailNV)
        BEGIN
            DELETE FROM TaiKhoan WHERE tenTK = @emailNV;
        END;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SuaKhachHang]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaKhachHang]
    @maKH VARCHAR(15),
    @tenDoanhNghiep NVARCHAR(100),
    @kyHieuDN NVARCHAR(20) = NULL,
    @diaChi NVARCHAR(150),
    @nguoiDaiDien NVARCHAR(50),
    @soDienThoaiKH VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.KhachHang WHERE maKH = @maKH)
    BEGIN
        RAISERROR(N'Mã khách hàng không tồn tại.', 16, 1);
        RETURN;
    END;

    IF dbo.fn_SoDienThoaiHopLe(@soDienThoaiKH) = 0
    BEGIN
        RAISERROR(N'Số điện thoại không hợp lệ! Phải gồm đúng 10 chữ số.', 16, 1);
        RETURN;
    END;

    IF @nguoiDaiDien LIKE '%[^A-Za-zÀ-ỹĂĐĨŨƠăđĩũơƯĂẰẲẴẶẮÂẦẨẪẬẤĐÊỀỂỄỆẾÔỒỔỖỘỐƠỜỞỠỢỚƯỪỬỮỰỨàằẳẵặắâầẩẫậấđêềểễệếôồổỗộốơờởỡợớưừửữựứ ]%'
    BEGIN
        RAISERROR(N'Tên người đại diện chỉ được chứa chữ cái và khoảng trắng.', 16, 1);
        RETURN;
    END;

    UPDATE dbo.KhachHang
    SET 
        tenDoanhNghiep = @tenDoanhNghiep,
        kyHieuDN = @kyHieuDN,
        diaChi = @diaChi,
        nguoiDaiDien = @nguoiDaiDien,
        soDienThoaiKH = @soDienThoaiKH
    WHERE maKH = @maKH;

    PRINT N'Cập nhật thông tin khách hàng thành công.';
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemKhachHang]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemKhachHang]
    @tenDoanhNghiep NVARCHAR(100),
    @kyHieuDN NVARCHAR(20) = NULL,
    @diaChi NVARCHAR(150),
    @nguoiDaiDien NVARCHAR(50),
    @soDienThoaiKH VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------
    -- Kiểm tra số điện thoại (phải là 10 chữ số)
    --------------------------------------------------
   IF dbo.fn_SoDienThoaiHopLe(@soDienThoaiKH) = 0
        BEGIN
            RAISERROR(N'Số điện thoại không hợp lệ! Phải gồm đúng 10 chữ số.', 16, 1);
            RETURN;
        END;

	IF @nguoiDaiDien LIKE '%[^A-Za-zÀ-ỹĂĐĨŨƠăđĩũơƯĂẰẲẴẶẮÂẦẨẪẬẤĐÊỀỂỄỆẾÔỒỔỖỘỐƠỜỞỠỢỚƯỪỬỮỰỨàằẳẵặắâầẩẫậấđêềểễệếôồổỗộốơờởỡợớưừửữựứ ]%'
	BEGIN
		RAISERROR(N'Tên người đại diện chỉ được chứa chữ cái và khoảng trắng.', 16, 1);
		RETURN;
	END;

    DECLARE @newMaKH VARCHAR(15);
    DECLARE @maxNum INT;

    SELECT @maxNum = MAX(CAST(SUBSTRING(maKH, 3, LEN(maKH)) AS INT))
    FROM dbo.KhachHang
    WHERE maKH LIKE 'KH%';

    IF @maxNum IS NULL
        SET @maxNum = 0;

    SET @newMaKH = 'KH' + RIGHT('000' + CAST(@maxNum + 1 AS VARCHAR(3)), 3);

    INSERT INTO dbo.KhachHang(maKH, tenDoanhNghiep, kyHieuDN, diaChi, nguoiDaiDien, soDienThoaiKH)
    VALUES (@newMaKH, @tenDoanhNghiep, @kyHieuDN, @diaChi, @nguoiDaiDien, @soDienThoaiKH);
   
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemNhanVien]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemNhanVien]
    @maPhong VARCHAR(15),
    @hoTen NVARCHAR(60),
    @ngaySinh DATE,
    @gioiTinh BIT,
    @diaChi NVARCHAR(150),
    @soDienThoai VARCHAR(10),
    @Email VARCHAR(50), 
    @isTruongPhong BIT   
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @maNV VARCHAR(15);
    DECLARE @so INT;
    DECLARE @tuoi INT;

    BEGIN TRY
        BEGIN TRAN;

        SET @tuoi = DATEDIFF(YEAR, @ngaySinh, GETDATE());
        IF (DATEADD(YEAR, @tuoi, @ngaySinh) > GETDATE())
            SET @tuoi = @tuoi - 1;

        IF @tuoi < 16 OR @tuoi > 65
        BEGIN
            RAISERROR(N'Tuổi không hợp lệ! Nhân viên phải từ 16 đến 65 tuổi.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

		-- Kiểm tra họ tên hợp lệ: chỉ gồm chữ cái và khoảng trắng
		IF PATINDEX('%[^a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵýỷỹ ]%', @hoTen) > 0
		BEGIN
			RAISERROR(N'Họ tên không hợp lệ! Chỉ được chứa chữ cái và khoảng trắng.', 16, 1);
			ROLLBACK TRAN;
			RETURN;
		END;

        IF @soDienThoai NOT LIKE '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
        BEGIN
            RAISERROR(N'Số điện thoại không hợp lệ! Phải gồm đúng 10 chữ số.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

        IF @Email NOT LIKE '%_@_%._%' 
            OR @Email LIKE '%..%' 
            OR @Email LIKE '%.@%' 
            OR RIGHT(@Email, 4) NOT IN ('.com', '.net', '.org', '.edu', '.gov', '.vn')
        BEGIN
            RAISERROR(N'Email không hợp lệ! Vui lòng nhập đúng định dạng (vd: abc@gmail.com).', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

        IF EXISTS (SELECT 1 FROM NhanVien WHERE email = @Email)
        BEGIN
            RAISERROR(N'Email này đã tồn tại cho nhân viên khác!', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END;

        IF @isTruongPhong = 1
        BEGIN
            IF EXISTS (SELECT 1 FROM PhongBan WHERE maPhong = @maPhong AND truongPhong IS NOT NULL)
            BEGIN
                RAISERROR(N'Phòng ban này đã có trưởng phòng!', 16, 1);
                ROLLBACK TRAN;
                RETURN;
            END;
        END;

        SELECT @so = CAST(SUBSTRING(maNV, 3, LEN(maNV)) AS INT)
        FROM NhanVien
        WHERE maNV = (SELECT MAX(maNV) FROM NhanVien);

        IF @so IS NULL SET @so = 0;
        SET @so = @so + 1;
        SET @maNV = 'NV' + RIGHT('000' + CAST(@so AS VARCHAR(3)), 3);

        IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE tenTK = @Email)
        BEGIN
            INSERT INTO TaiKhoan(tenTK, matKhau, vaiTro)
            VALUES(@Email, '$2a$10$cIpQyUtNMCZDqBVqgq5cb.JD7E5ysCTIetHeq37yWpM5L5oMJ2tri', 0);
        END;

        INSERT INTO NhanVien (maNV, maPhong, hoTen, ngaySinh, gioiTinh, diaChi, soDienThoai, email, ngayTao)
        VALUES (@maNV, @maPhong, @hoTen, @ngaySinh, @gioiTinh, @diaChi, @soDienThoai, @Email, GETDATE());

        IF @isTruongPhong = 1
        BEGIN
            UPDATE PhongBan
            SET truongPhong = @maNV
            WHERE maPhong = @maPhong;
        END;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaKhachHang]    Script Date: 10/17/2025 9:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaKhachHang]
    @maKH VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------
    -- Kiểm tra mã khách hàng có tồn tại không
    --------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM dbo.KhachHang WHERE maKH = @maKH)
    BEGIN
        RAISERROR(N'Mã khách hàng không tồn tại.', 16, 1);
        RETURN;
    END;

    --------------------------------------------------
    -- (Tuỳ chọn) Kiểm tra ràng buộc dữ liệu liên quan
    -- Ví dụ: nếu khách hàng đang có hóa đơn, hợp đồng,...
    -- thì không cho xóa để tránh lỗi khóa ngoại (FK)
    --------------------------------------------------
    -- IF EXISTS (SELECT 1 FROM dbo.HoaDon WHERE maKH = @maKH)
    -- BEGIN
    --     RAISERROR(N'Không thể xóa khách hàng vì đang tồn tại dữ liệu liên quan.', 16, 1);
    --     RETURN;
    -- END;

    --------------------------------------------------
    -- Thực hiện xóa
    --------------------------------------------------
    DELETE FROM dbo.KhachHang
    WHERE maKH = @maKH;

    PRINT N'Đã xóa khách hàng thành công.';
END;
GO
----uc13
-- 1. Tạo mã thông số tự động
CREATE OR ALTER FUNCTION [dbo].[fn_TaoMaThongSo]()
RETURNS VARCHAR(15)
AS
BEGIN
    DECLARE @newMaTS VARCHAR(15);
    DECLARE @maxNum INT;
    
    -- Lấy số lớn nhất trong phần số của mã
    SELECT @maxNum = MAX(CAST(SUBSTRING(maTS, 3, LEN(maTS)) AS INT))
    FROM ThongSoMoiTruong
    WHERE maTS LIKE 'TS%';
    
    IF @maxNum IS NULL
        SET @maxNum = 0;
    
    -- Tạo mã mới với 4 chữ số
    SET @newMaTS = 'TS' + RIGHT('0000' + CAST(@maxNum + 1 AS VARCHAR(4)), 4);
    
    RETURN @newMaTS;
END
GO

-- 2. Lấy danh sách tất cả thông số môi trường
CREATE OR ALTER PROCEDURE [dbo].[sp_LayDanhSachThongSo]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        maTS,
        tenTS,
        donVi,
        giaTriToiDa,
        giaTriToiThieu
    FROM ThongSoMoiTruong
    ORDER BY tenTS;
END
GO
--Thêm thông số môi trường 
CREATE OR ALTER PROCEDURE [dbo].[sp_ThemThongSoMoiTruong]
    @tenTS NVARCHAR(30),
    @donVi NVARCHAR(15),
    @giaTriToiDa INT = NULL,
    @giaTriToiThieu INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        IF LTRIM(RTRIM(@tenTS)) = ''
            THROW 50000, N'Tên thông số không được để trống!', 1;

        IF LTRIM(RTRIM(@donVi)) = ''
            THROW 50000, N'Đơn vị không được để trống!', 1;

        IF @giaTriToiThieu IS NOT NULL AND @giaTriToiDa IS NOT NULL AND @giaTriToiThieu > @giaTriToiDa
            THROW 50000, N'Giá trị tối thiểu không được lớn hơn giá trị tối đa!', 1;

        IF EXISTS (
            SELECT 1
            FROM ThongSoMoiTruong
            WHERE tenTS = @tenTS AND donVi = @donVi
        )
            THROW 50000, N'Thông số này đã tồn tại trong hệ thống!', 1;

        DECLARE @maTS VARCHAR(15) = dbo.fn_TaoMaThongSo();

        INSERT INTO ThongSoMoiTruong (maTS, tenTS, donVi, giaTriToiDa, giaTriToiThieu)
        VALUES (@maTS, @tenTS, @donVi, @giaTriToiDa, @giaTriToiThieu);

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH
END
GO

-- 7. Sửa thông số môi trường
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_SuaThongSoMoiTruong]
    @maTS VARCHAR(15),
    @tenTS NVARCHAR(30),
    @donVi NVARCHAR(15),
    @giaTriToiDa INT = NULL,
    @giaTriToiThieu INT = NULL,
    @ketQua NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        
        -- Kiểm tra thông số tồn tại
        IF NOT EXISTS (SELECT 1 FROM ThongSoMoiTruong WHERE maTS = @maTS)
        BEGIN
            SET @ketQua = N'Không tìm thấy thông số cần sửa!';
            ROLLBACK TRAN;
            RETURN;
        END
        
        -- Validate dữ liệu
        IF LTRIM(RTRIM(@tenTS)) = ''
        BEGIN
            SET @ketQua = N'Tên thông số không được để trống!';
            ROLLBACK TRAN;
            RETURN;
        END
        
        IF LTRIM(RTRIM(@donVi)) = ''
        BEGIN
            SET @ketQua = N'Đơn vị không được để trống!';
            ROLLBACK TRAN;
            RETURN;
        END
        
        -- Kiểm tra giới hạn hợp lệ
        IF @giaTriToiThieu IS NOT NULL AND @giaTriToiDa IS NOT NULL
        BEGIN
            IF @giaTriToiThieu > @giaTriToiDa
            BEGIN
                SET @ketQua = N'Giá trị tối thiểu không được lớn hơn giá trị tối đa!';
                ROLLBACK TRAN;
                RETURN;
            END
        END
        
        -- Kiểm tra trùng (trừ chính nó)
        IF EXISTS (
            SELECT 1 FROM ThongSoMoiTruong 
            WHERE tenTS = @tenTS AND donVi = @donVi AND maTS <> @maTS
        )
        BEGIN
            SET @ketQua = N'Thông số này đã tồn tại cho thông số khác!';
            ROLLBACK TRAN;
            RETURN;
        END
        
        -- Cập nhật
        UPDATE ThongSoMoiTruong
        SET tenTS = @tenTS,
            donVi = @donVi,
            giaTriToiDa = @giaTriToiDa,
            giaTriToiThieu = @giaTriToiThieu
        WHERE maTS = @maTS;
        
        SET @ketQua = N'Cập nhật thông số thành công!';
        
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        SET @ketQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END
GO

-- =============================================
-- 8. Xóa thông số môi trường
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_XoaThongSoMoiTruong]
    @maTS VARCHAR(15),
    @ketQua NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        
        -- Kiểm tra thông số tồn tại
        IF NOT EXISTS (SELECT 1 FROM ThongSoMoiTruong WHERE maTS = @maTS)
        BEGIN
            SET @ketQua = N'Không tìm thấy thông số cần xóa!';
            ROLLBACK TRAN;
            RETURN;
        END
        
        -- Kiểm tra có đang được sử dụng không
        IF EXISTS (SELECT 1 FROM ChiTietQuanTrac WHERE maTS = @maTS)
        BEGIN
            SET @ketQua = N'Không thể xóa! Thông số này đang được sử dụng trong kế hoạch quan trắc.';
            ROLLBACK TRAN;
            RETURN;
        END
        
        IF EXISTS (SELECT 1 FROM KetQua WHERE maTS = @maTS)
        BEGIN
            SET @ketQua = N'Không thể xóa! Thông số này đã có kết quả quan trắc.';
            ROLLBACK TRAN;
            RETURN;
        END
        
        -- Xóa thông số
        DELETE FROM ThongSoMoiTruong WHERE maTS = @maTS;
        
        SET @ketQua = N'Xóa thông số thành công!';
        
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        SET @ketQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END
GO

CREATE OR ALTER PROCEDURE sp_LayTenThongSoMoiTruong
AS
BEGIN
    SET NOCOUNT ON;

    SELECT maTS, tenTS, donVi, giaTriToiThieu, giaTriToiDa
    FROM ThongSoMoiTruong
    ORDER BY tenTS;
END
GO


EXEC sp_LayTenThongSoMoiTruong;

CREATE PROCEDURE sp_LayChiTietQuanTracTheoNen
    @maNen VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.maNen,
        c.maTS,
        t.tenTS,
        t.donVi,
        t.giaTriToiThieu,
        t.giaTriToiDa,
        c.maPhong,
        p.tenPhong
    FROM ChiTietQuanTrac c
    INNER JOIN ThongSoMoiTruong t ON c.maTS = t.maTS
    INNER JOIN PhongBan p ON c.maPhong = p.maPhong
    WHERE c.maNen = @maNen
    ORDER BY t.tenTS;
END
GO

EXEC sp_LayTenThongSoMoiTruong;

CREATE TYPE ChiTietThongSoType AS TABLE
(
    maTS VARCHAR(15),
    maPhong VARCHAR(15)
)

CREATE PROCEDURE sp_ThemNenMau
    @moTa TEXT,
    @ChiTietThongSo ChiTietThongSoType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @maNen VARCHAR(15);

        -- Tạo mã mới: NM0001, NM0002,...
        SELECT @maNen = 'NM' +
            RIGHT('0000' + CAST(ISNULL(MAX(CAST(SUBSTRING(maNen, 3, 10) AS INT)), 0) + 1 AS VARCHAR(10)), 4)
        FROM NenMau;

        -- INSERT NenMau với mã mới
        INSERT INTO NenMau (maNen, moTa)
        VALUES (@maNen, @moTa);

        -- INSERT chi tiết nền mẫu
        INSERT INTO ChiTietQuanTrac (maNen, maTS, maPhong)
        SELECT @maNen, maTS, maPhong
        FROM @ChiTietThongSo;

        COMMIT TRANSACTION;

        -- Trả về mã nền mới để UI load UserControl
        SELECT @maNen AS MaNenMoi;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

---25/10
CREATE PROCEDURE [dbo].[sp_LayDanhSachHopDong]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        hd.maHD,
        hd.maKH,
        kh.tenDoanhNghiep,
        kh.nguoiDaiDien,
        hd.ngayKy,
        hd.ngayDuKien,
        hd.trangThai,
        -- Tạo text hiển thị trong ComboBox
        hd.maHD + ' - ' + kh.tenDoanhNghiep AS displayText
    FROM HopDong hd
    INNER JOIN KhachHang kh ON hd.maKH = kh.maKH
    WHERE hd.trangThai = 1  -- Chỉ lấy hợp đồng đang hoạt động
    ORDER BY hd.ngayKy DESC;
END
GO

alter PROCEDURE [dbo].[sp_ThemDotQuanTrac]
    @maHD VARCHAR(15),
    @noiDung TEXT = NULL,
    @dotQuanTrac NVARCHAR(20),
    @ngayBatDau DATE,
    @ngayDuKien DATE,
    @ngayTraKQ DATE = NULL,  
    @trangThai INT = 0,
    @danhSachMaNen NVARCHAR(MAX) 
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        -- BƯỚC 1: KIỂM TRA DỮ LIỆU ĐẦU VÀO
        IF NOT EXISTS (SELECT 1 FROM HopDong WHERE maHD = @maHD)
        BEGIN
            RAISERROR(N'Mã hợp đồng không tồn tại!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Kiểm tra hợp đồng còn hiệu lực
        IF NOT EXISTS (SELECT 1 FROM HopDong WHERE maHD = @maHD AND trangThai = 1)
        BEGIN
            RAISERROR(N'Hợp đồng không còn hiệu lực!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Kiểm tra ngày hợp lệ
        IF @ngayDuKien < @ngayBatDau
        BEGIN
            RAISERROR(N'Ngày dự kiến phải lớn hơn hoặc bằng ngày bắt đầu!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Kiểm tra ngày trả kết quả (nếu có)
        IF @ngayTraKQ IS NOT NULL AND @ngayTraKQ < @ngayBatDau
        BEGIN
            RAISERROR(N'Ngày trả kết quả phải lớn hơn hoặc bằng ngày bắt đầu!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Kiểm tra danh sách nền mẫu không rỗng
        IF @danhSachMaNen IS NULL OR LTRIM(RTRIM(@danhSachMaNen)) = ''
        BEGIN
            RAISERROR(N'Phải có ít nhất một nền mẫu trong kế hoạch quan trắc!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- BƯỚC 2: TẠO MÃ ĐỢT QUAN TRẮC TỰ ĐỘNG
 
        DECLARE @maDot VARCHAR(15) = dbo.fn_TaoMaDot();
        
        PRINT N'Đã tạo mã đợt: ' + @maDot;
        
        -- ========================================
        -- BƯỚC 3: THÊM ĐỢT QUAN TRẮC VÀO BẢNG DotQuanTrac
        -- ========================================
        
        INSERT INTO DotQuanTrac (
            maDot, 
            maHD, 
            noiDung, 
            dotQuanTrac, 
            ngayBatDau, 
            ngayDuKien, 
            ngayTraKQ,
            trangThai
        )
        VALUES (
            @maDot, 
            @maHD, 
            @noiDung, 
            @dotQuanTrac, 
            @ngayBatDau, 
            @ngayDuKien,
            @ngayTraKQ,
            @trangThai
        );
        
        PRINT N'Đã thêm đợt quan trắc vào bảng DotQuanTrac';
        
        -- BƯỚC 4: PARSE DANH SÁCH NỀN MẪU
        -- Tạo bảng tạm để lưu danh sách mã nền mẫu
        DECLARE @TempNenMau TABLE (
            maNen VARCHAR(15)
        );
        
        -- Tách chuỗi danh sách nền mẫu thành các dòng
        -- Ví dụ: "NM0001,NM0002,NM0003" -> 3 dòng riêng biệt
        INSERT INTO @TempNenMau (maNen)
        SELECT LTRIM(RTRIM(value)) 
        FROM STRING_SPLIT(@danhSachMaNen, ',')
        WHERE LTRIM(RTRIM(value)) <> '';
        
		DECLARE @countNen INT;
		SELECT @countNen = COUNT(*) FROM @TempNenMau;
		PRINT N'Số lượng nền mẫu: ' + CAST(@countNen AS NVARCHAR(10));

        -- BƯỚC 5: KIỂM TRA TẤT CẢ NỀN MẪU TỒN TẠI
        -- Kiểm tra có nền mẫu nào không tồn tại trong database không
        IF EXISTS (
            SELECT 1 
            FROM @TempNenMau t
            WHERE NOT EXISTS (
                SELECT 1 FROM NenMau nm WHERE nm.maNen = t.maNen
            )
        )
        BEGIN
            DECLARE @invalidMaNen VARCHAR(15);
            SELECT TOP 1 @invalidMaNen = maNen 
            FROM @TempNenMau t
            WHERE NOT EXISTS (SELECT 1 FROM NenMau nm WHERE nm.maNen = t.maNen);
            
            RAISERROR(N'Nền mẫu "%s" không tồn tại trong hệ thống!', 16, 1, @invalidMaNen);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        -- BƯỚC 6: KIỂM TRA NỀN MẪU CÓ THÔNG SỐ CHƯA
        IF EXISTS (
            SELECT 1 
            FROM @TempNenMau t
            WHERE NOT EXISTS (
                SELECT 1 
                FROM ChiTietQuanTrac ct 
                WHERE ct.maNen = t.maNen
            )
        )
        BEGIN
            DECLARE @invalidMaNen2 VARCHAR(15);
            SELECT TOP 1 @invalidMaNen2 = maNen 
            FROM @TempNenMau t
            WHERE NOT EXISTS (
                SELECT 1 FROM ChiTietQuanTrac ct WHERE ct.maNen = t.maNen
            );
            
            RAISERROR(N'Nền mẫu "%s" chưa có thông số cần đo!', 16, 1, @invalidMaNen2);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- ========================================
        -- BƯỚC 7: THÊM CHI TIẾT ĐỢT QUAN TRẮC
        INSERT INTO ChiTietDotQuanTrac (maDot, maNen)
        SELECT @maDot, maNen
        FROM @TempNenMau;
        
        DECLARE @soLuongNenMau INT = @@ROWCOUNT;
        PRINT N'Đã thêm ' + CAST(@soLuongNenMau AS NVARCHAR(10)) + N' nền mẫu vào ChiTietDotQuanTrac';
        
        -- ========================================
        -- BƯỚC 8: TRẢ VỀ KẾT QUẢ
        SELECT 
            @maDot AS maDot,
            @maHD AS maHD,
            @dotQuanTrac AS dotQuanTrac,
            @ngayBatDau AS ngayBatDau,
            @ngayDuKien AS ngayDuKien,
            @ngayTraKQ AS ngayTraKQ,
            @trangThai AS trangThai,
            @soLuongNenMau AS soLuongNenMau,
            N'Tạo kế hoạch quan trắc thành công!' AS thongBao;
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
